{
  "openapi": "3.0.3",
  "info": {
    "title": "Musixmatch API",
    "description": "## Musixmatch API Postman Collection\n\nThis is a postman collection covering the Musixmatch API.",
    "version": "1.0.0",
    "contact": {}
  },
  "servers": [{ "url": "https://api.musixmatch.com/ws/1.1" }],
  "paths": {
    "/track.get": {
      "get": {
        "tags": ["Track"],
        "summary": "Get Track",
        "description": "Let's documents track.get here, but this is a really long description, how can it be such a long title with an huge font size?",
        "operationId": "getTrack",
        "parameters": [
          {
            "name": "commontrack_id",
            "in": "query",
            "schema": { "type": "string", "example": "<string>" },
            "description": "The track's identifier"
          },
          {
            "name": "track_isrc",
            "in": "query",
            "schema": { "type": "string", "example": "<string>" },
            "description": "The track's ISRC"
          },
          {
            "name": "track_itunes_id",
            "in": "query",
            "schema": { "type": "string", "example": "<string>" },
            "description": "The track's apple identifier"
          },
          {
            "name": "track_spotify_id",
            "in": "query",
            "schema": { "type": "string", "example": "<string>" },
            "description": "The track's spotify identifier"
          }
        ],
        "responses": { "200": { "description": "" } }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": { "type": "apiKey", "name": "apikey", "in": "query" }
    }
  },
  "security": [{ "apiKey": [] }],
  "tags": [{ "name": "Track" }]
}
