{
  "openapi": "3.0.3",
  "info": {
    "title": "Musixmatch API",
    "description": "## Musixmatch API Postman Collection\n\nThis is a postman collection covering the Musixmatch API.",
    "version": "1.0.0",
    "contact": {}
  },
  "servers": [{ "url": "https://api.musixmatch.com/ws/1.1" }],
  "paths": {
    "/track.search": {
      "get": {
        "tags": ["Track"],
        "summary": "Search Tracks",
        "description": "Search for tracks in our catalogue.",
        "operationId": "searchTracks",
        "parameters": [
          {
            "name": "q_artist",
            "in": "query",
            "schema": { "type": "string", "example": "<string>" },
            "description": "The song's artist."
          },
          {
            "name": "q_track",
            "in": "query",
            "schema": { "type": "string", "example": "<string>" },
            "description": "The song's title."
          },
          {
            "name": "q_lyrics",
            "in": "query",
            "schema": { "type": "string", "example": "<string>" },
            "description": "Any word in the lyrics."
          },
          {
            "name": "q_track_artist",
            "in": "query",
            "schema": { "type": "string", "example": "<artist>" },
            "description": "Any word in the song's title or artist name."
          },
          {
            "name": "q_writer",
            "in": "query",
            "schema": { "type": "string", "example": "<string>" },
            "description": "Search among writers."
          },
          {
            "name": "s_track_rating",
            "in": "query",
            "schema": { "type": "string", "example": "<string>" },
            "description": "Sort by our popularity index for tracks. Permitted values: `asc`, `desc`."
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": { "type": "string", "example": "<integer>" },
            "description": "Define the page size for paginated results. Permitted values: `1-100`."
          }
        ],
        "responses": {
          "200": {
            "description": "Search Tracks - 200",
            "headers": {
              "Accept-Ranges": {
                "schema": { "type": "string", "example": "bytes" }
              },
              "Connection": {
                "schema": { "type": "string", "example": "keep-alive" }
              },
              "Content-Encoding": {
                "schema": { "type": "string", "example": "gzip" }
              },
              "Content-Length": {
                "schema": { "type": "string", "example": "693" }
              },
              "Vary": {
                "schema": { "type": "string", "example": "Accept-Encoding" }
              },
              "x-mxm-header-status": {
                "schema": { "type": "string", "example": "200" }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "body": {
                          "type": "object",
                          "properties": {
                            "track_list": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "track": {
                                    "type": "object",
                                    "properties": {
                                      "album_id": {
                                        "type": "number",
                                        "example": 32472707
                                      },
                                      "album_name": {
                                        "type": "string",
                                        "example": "Rammstein"
                                      },
                                      "artist_id": {
                                        "type": "number",
                                        "example": 26
                                      },
                                      "artist_name": {
                                        "type": "string",
                                        "example": "Rammstein"
                                      },
                                      "commontrack_id": {
                                        "type": "number",
                                        "example": 93911869
                                      },
                                      "explicit": {
                                        "type": "number",
                                        "example": 0
                                      },
                                      "has_lyrics": {
                                        "type": "number",
                                        "example": 1
                                      },
                                      "has_richsync": {
                                        "type": "number",
                                        "example": 1
                                      },
                                      "has_subtitles": {
                                        "type": "number",
                                        "example": 1
                                      },
                                      "instrumental": {
                                        "type": "number",
                                        "example": 0
                                      },
                                      "num_favourite": {
                                        "type": "number",
                                        "example": 757
                                      },
                                      "primary_genres": {
                                        "type": "object",
                                        "properties": {
                                          "music_genre_list": {
                                            "type": "array",
                                            "items": {
                                              "type": "object",
                                              "properties": {
                                                "music_genre": {
                                                  "type": "object",
                                                  "properties": {
                                                    "music_genre_id": {
                                                      "type": "number",
                                                      "example": 1153
                                                    },
                                                    "music_genre_name": {
                                                      "type": "string",
                                                      "example": "Heavy Metal"
                                                    },
                                                    "music_genre_name_extended": {
                                                      "type": "string",
                                                      "example": "Rock / Heavy Metal"
                                                    },
                                                    "music_genre_parent_id": {
                                                      "type": "number",
                                                      "example": 21
                                                    },
                                                    "music_genre_vanity": {
                                                      "type": "string",
                                                      "example": "Rock-Heavy-Metal"
                                                    }
                                                  }
                                                }
                                              }
                                            },
                                            "example": [
                                              {
                                                "music_genre": {
                                                  "music_genre_id": 1153,
                                                  "music_genre_name": "Heavy Metal",
                                                  "music_genre_name_extended": "Rock / Heavy Metal",
                                                  "music_genre_parent_id": 21,
                                                  "music_genre_vanity": "Rock-Heavy-Metal"
                                                }
                                              },
                                              {
                                                "music_genre": {
                                                  "music_genre_id": 21,
                                                  "music_genre_name": "Rock",
                                                  "music_genre_name_extended": "Rock",
                                                  "music_genre_parent_id": 34,
                                                  "music_genre_vanity": "Rock"
                                                }
                                              }
                                            ]
                                          }
                                        }
                                      },
                                      "restricted": {
                                        "type": "number",
                                        "example": 0
                                      },
                                      "track_edit_url": {
                                        "type": "string",
                                        "example": "https://www.musixmatch.com/lyrics/Rammstein/DEUTSCHLAND/edit?utm_source=application&utm_campaign=api&utm_medium=N%2FA%3A1409617493782"
                                      },
                                      "track_id": {
                                        "type": "number",
                                        "example": 170314611
                                      },
                                      "track_name": {
                                        "type": "string",
                                        "example": "Deutschland"
                                      },
                                      "track_name_translation_list": {
                                        "type": "array",
                                        "items": {},
                                        "example": []
                                      },
                                      "track_rating": {
                                        "type": "number",
                                        "example": 83
                                      },
                                      "track_share_url": {
                                        "type": "string",
                                        "example": "https://www.musixmatch.com/lyrics/Rammstein/DEUTSCHLAND?utm_source=application&utm_campaign=api&utm_medium=N%2FA%3A1409617493782"
                                      },
                                      "updated_time": {
                                        "type": "string",
                                        "example": "2024-07-17T08:09:44Z"
                                      }
                                    }
                                  }
                                }
                              },
                              "example": [
                                {
                                  "track": {
                                    "album_id": 32472707,
                                    "album_name": "Rammstein",
                                    "artist_id": 26,
                                    "artist_name": "Rammstein",
                                    "commontrack_id": 93911869,
                                    "explicit": 0,
                                    "has_lyrics": 1,
                                    "has_richsync": 1,
                                    "has_subtitles": 1,
                                    "instrumental": 0,
                                    "num_favourite": 757,
                                    "primary_genres": {
                                      "music_genre_list": [
                                        {
                                          "music_genre": {
                                            "music_genre_id": 1153,
                                            "music_genre_name": "Heavy Metal",
                                            "music_genre_name_extended": "Rock / Heavy Metal",
                                            "music_genre_parent_id": 21,
                                            "music_genre_vanity": "Rock-Heavy-Metal"
                                          }
                                        },
                                        {
                                          "music_genre": {
                                            "music_genre_id": 21,
                                            "music_genre_name": "Rock",
                                            "music_genre_name_extended": "Rock",
                                            "music_genre_parent_id": 34,
                                            "music_genre_vanity": "Rock"
                                          }
                                        }
                                      ]
                                    },
                                    "restricted": 0,
                                    "track_edit_url": "https://www.musixmatch.com/lyrics/Rammstein/DEUTSCHLAND/edit?utm_source=application&utm_campaign=api&utm_medium=N%2FA%3A1409617493782",
                                    "track_id": 170314611,
                                    "track_name": "Deutschland",
                                    "track_name_translation_list": [],
                                    "track_rating": 83,
                                    "track_share_url": "https://www.musixmatch.com/lyrics/Rammstein/DEUTSCHLAND?utm_source=application&utm_campaign=api&utm_medium=N%2FA%3A1409617493782",
                                    "updated_time": "2024-07-17T08:09:44Z"
                                  }
                                },
                                {
                                  "track": {
                                    "album_id": 32472707,
                                    "album_name": "Rammstein",
                                    "artist_id": 26,
                                    "artist_name": "Rammstein",
                                    "commontrack_id": 95543181,
                                    "explicit": 0,
                                    "has_lyrics": 1,
                                    "has_richsync": 1,
                                    "has_subtitles": 1,
                                    "instrumental": 0,
                                    "num_favourite": 280,
                                    "primary_genres": {
                                      "music_genre_list": [
                                        {
                                          "music_genre": {
                                            "music_genre_id": 1153,
                                            "music_genre_name": "Heavy Metal",
                                            "music_genre_name_extended": "Rock / Heavy Metal",
                                            "music_genre_parent_id": 21,
                                            "music_genre_vanity": "Rock-Heavy-Metal"
                                          }
                                        },
                                        {
                                          "music_genre": {
                                            "music_genre_id": 21,
                                            "music_genre_name": "Rock",
                                            "music_genre_name_extended": "Rock",
                                            "music_genre_parent_id": 34,
                                            "music_genre_vanity": "Rock"
                                          }
                                        }
                                      ]
                                    },
                                    "restricted": 0,
                                    "track_edit_url": "https://www.musixmatch.com/lyrics/Rammstein/AUSL%C3%84NDER/edit?utm_source=application&utm_campaign=api&utm_medium=N%2FA%3A1409617493782",
                                    "track_id": 170314614,
                                    "track_name": "Ausländer",
                                    "track_name_translation_list": [],
                                    "track_rating": 83,
                                    "track_share_url": "https://www.musixmatch.com/lyrics/Rammstein/AUSL%C3%84NDER?utm_source=application&utm_campaign=api&utm_medium=N%2FA%3A1409617493782",
                                    "updated_time": "2023-08-25T22:40:44Z"
                                  }
                                },
                                {
                                  "track": {
                                    "album_id": 13781797,
                                    "album_name": "Mutter",
                                    "artist_id": 26,
                                    "artist_name": "Rammstein",
                                    "commontrack_id": 7349,
                                    "explicit": 0,
                                    "has_lyrics": 1,
                                    "has_richsync": 1,
                                    "has_subtitles": 1,
                                    "instrumental": 0,
                                    "num_favourite": 2531,
                                    "primary_genres": {
                                      "music_genre_list": [
                                        {
                                          "music_genre": {
                                            "music_genre_id": 1153,
                                            "music_genre_name": "Heavy Metal",
                                            "music_genre_name_extended": "Rock / Heavy Metal",
                                            "music_genre_parent_id": 21,
                                            "music_genre_vanity": "Rock-Heavy-Metal"
                                          }
                                        },
                                        {
                                          "music_genre": {
                                            "music_genre_id": 21,
                                            "music_genre_name": "Rock",
                                            "music_genre_name_extended": "Rock",
                                            "music_genre_parent_id": 34,
                                            "music_genre_vanity": "Rock"
                                          }
                                        }
                                      ]
                                    },
                                    "restricted": 0,
                                    "track_edit_url": "https://www.musixmatch.com/lyrics/Rammstein/Sonne/edit?utm_source=application&utm_campaign=api&utm_medium=N%2FA%3A1409617493782",
                                    "track_id": 30432601,
                                    "track_name": "Sonne",
                                    "track_name_translation_list": [],
                                    "track_rating": 79,
                                    "track_share_url": "https://www.musixmatch.com/lyrics/Rammstein/Sonne?utm_source=application&utm_campaign=api&utm_medium=N%2FA%3A1409617493782",
                                    "updated_time": "2024-10-30T22:06:05Z"
                                  }
                                }
                              ]
                            }
                          }
                        },
                        "header": {
                          "type": "object",
                          "properties": {
                            "available": { "type": "number", "example": 282 },
                            "execute_time": {
                              "type": "number",
                              "example": 0.10083603858948
                            },
                            "status_code": { "type": "number", "example": 200 }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Search Tracks - 200": {
                    "value": {
                      "message": {
                        "body": {
                          "track_list": [
                            {
                              "track": {
                                "album_id": 32472707,
                                "album_name": "Rammstein",
                                "artist_id": 26,
                                "artist_name": "Rammstein",
                                "commontrack_id": 93911869,
                                "explicit": 0,
                                "has_lyrics": 1,
                                "has_richsync": 1,
                                "has_subtitles": 1,
                                "instrumental": 0,
                                "num_favourite": 757,
                                "primary_genres": {
                                  "music_genre_list": [
                                    {
                                      "music_genre": {
                                        "music_genre_id": 1153,
                                        "music_genre_name": "Heavy Metal",
                                        "music_genre_name_extended": "Rock / Heavy Metal",
                                        "music_genre_parent_id": 21,
                                        "music_genre_vanity": "Rock-Heavy-Metal"
                                      }
                                    },
                                    {
                                      "music_genre": {
                                        "music_genre_id": 21,
                                        "music_genre_name": "Rock",
                                        "music_genre_name_extended": "Rock",
                                        "music_genre_parent_id": 34,
                                        "music_genre_vanity": "Rock"
                                      }
                                    }
                                  ]
                                },
                                "restricted": 0,
                                "track_edit_url": "https://www.musixmatch.com/lyrics/Rammstein/DEUTSCHLAND/edit?utm_source=application&utm_campaign=api&utm_medium=N%2FA%3A1409617493782",
                                "track_id": 170314611,
                                "track_name": "Deutschland",
                                "track_name_translation_list": [],
                                "track_rating": 83,
                                "track_share_url": "https://www.musixmatch.com/lyrics/Rammstein/DEUTSCHLAND?utm_source=application&utm_campaign=api&utm_medium=N%2FA%3A1409617493782",
                                "updated_time": "2024-07-17T08:09:44Z"
                              }
                            },
                            {
                              "track": {
                                "album_id": 32472707,
                                "album_name": "Rammstein",
                                "artist_id": 26,
                                "artist_name": "Rammstein",
                                "commontrack_id": 95543181,
                                "explicit": 0,
                                "has_lyrics": 1,
                                "has_richsync": 1,
                                "has_subtitles": 1,
                                "instrumental": 0,
                                "num_favourite": 280,
                                "primary_genres": {
                                  "music_genre_list": [
                                    {
                                      "music_genre": {
                                        "music_genre_id": 1153,
                                        "music_genre_name": "Heavy Metal",
                                        "music_genre_name_extended": "Rock / Heavy Metal",
                                        "music_genre_parent_id": 21,
                                        "music_genre_vanity": "Rock-Heavy-Metal"
                                      }
                                    },
                                    {
                                      "music_genre": {
                                        "music_genre_id": 21,
                                        "music_genre_name": "Rock",
                                        "music_genre_name_extended": "Rock",
                                        "music_genre_parent_id": 34,
                                        "music_genre_vanity": "Rock"
                                      }
                                    }
                                  ]
                                },
                                "restricted": 0,
                                "track_edit_url": "https://www.musixmatch.com/lyrics/Rammstein/AUSL%C3%84NDER/edit?utm_source=application&utm_campaign=api&utm_medium=N%2FA%3A1409617493782",
                                "track_id": 170314614,
                                "track_name": "Ausländer",
                                "track_name_translation_list": [],
                                "track_rating": 83,
                                "track_share_url": "https://www.musixmatch.com/lyrics/Rammstein/AUSL%C3%84NDER?utm_source=application&utm_campaign=api&utm_medium=N%2FA%3A1409617493782",
                                "updated_time": "2023-08-25T22:40:44Z"
                              }
                            },
                            {
                              "track": {
                                "album_id": 13781797,
                                "album_name": "Mutter",
                                "artist_id": 26,
                                "artist_name": "Rammstein",
                                "commontrack_id": 7349,
                                "explicit": 0,
                                "has_lyrics": 1,
                                "has_richsync": 1,
                                "has_subtitles": 1,
                                "instrumental": 0,
                                "num_favourite": 2531,
                                "primary_genres": {
                                  "music_genre_list": [
                                    {
                                      "music_genre": {
                                        "music_genre_id": 1153,
                                        "music_genre_name": "Heavy Metal",
                                        "music_genre_name_extended": "Rock / Heavy Metal",
                                        "music_genre_parent_id": 21,
                                        "music_genre_vanity": "Rock-Heavy-Metal"
                                      }
                                    },
                                    {
                                      "music_genre": {
                                        "music_genre_id": 21,
                                        "music_genre_name": "Rock",
                                        "music_genre_name_extended": "Rock",
                                        "music_genre_parent_id": 34,
                                        "music_genre_vanity": "Rock"
                                      }
                                    }
                                  ]
                                },
                                "restricted": 0,
                                "track_edit_url": "https://www.musixmatch.com/lyrics/Rammstein/Sonne/edit?utm_source=application&utm_campaign=api&utm_medium=N%2FA%3A1409617493782",
                                "track_id": 30432601,
                                "track_name": "Sonne",
                                "track_name_translation_list": [],
                                "track_rating": 79,
                                "track_share_url": "https://www.musixmatch.com/lyrics/Rammstein/Sonne?utm_source=application&utm_campaign=api&utm_medium=N%2FA%3A1409617493782",
                                "updated_time": "2024-10-30T22:06:05Z"
                              }
                            }
                          ]
                        },
                        "header": {
                          "available": 282,
                          "execute_time": 0.10083603858948,
                          "status_code": 200
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/track.get": {
      "get": {
        "tags": ["Track"],
        "summary": "Get Track",
        "description": "Let's documents track.get here, but this is a really long description, how can it be such a long title with an huge font size?",
        "operationId": "getTrack",
        "parameters": [
          {
            "name": "commontrack_id",
            "in": "query",
            "schema": { "type": "string", "example": "<string>" },
            "description": "The track's identifier"
          },
          {
            "name": "track_isrc",
            "in": "query",
            "schema": { "type": "string", "example": "<string>" },
            "description": "The track's ISRC"
          },
          {
            "name": "track_itunes_id",
            "in": "query",
            "schema": { "type": "string", "example": "<string>" },
            "description": "The track's apple identifier"
          },
          {
            "name": "track_spotify_id",
            "in": "query",
            "schema": { "type": "string", "example": "<string>" },
            "description": "The track's spotify identifier"
          }
        ],
        "responses": { "200": { "description": "" } }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": { "type": "apiKey", "name": "apikey", "in": "query" }
    }
  },
  "security": [{ "apiKey": [] }],
  "tags": [{ "name": "Track" }]
}
